@model CandidateAPI.InterviewSchedulerModel.PanelAvailability

@{
    ViewData["Title"] = "UpdatePanelAvailability";
}

<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <style>
        .get-in-touch {
            max-width: 800px;
            margin: 50px auto;
            position: relative;
        }

            .get-in-touch .title {
                text-align: center;
                text-transform: uppercase;
                letter-spacing: 3px;
                font-size: 3.2em;
                line-height: 48px;
                padding-bottom: 48px;
                color: #5543ca;
                background: #5543ca;
                background: -moz-linear-gradient(left,#f4524d 0%,#5543ca 100%) !important;
                background: -webkit-linear-gradient(left,#f4524d 0%,#5543ca 100%) !important;
                background: linear-gradient(to right,#f4524d 0%,#5543ca 100%) !important;
                -webkit-background-clip: text !important;
                -webkit-text-fill-color: transparent !important;
            }

        .contact-form .form-field {
            position: relative;
            margin: 32px 0;
        }

        .contact-form .input-text {
            display: block;
            width: 100%;
            height: 36px;
            border-width: 0 0 2px 0;
            border-color: #5543ca;
            font-size: 18px;
            line-height: 26px;
            font-weight: 400;
        }

            .contact-form .input-text:focus {
                outline: none;
            }

                .contact-form .input-text:focus + .label,
                .contact-form .input-text.not-empty + .label {
                    -webkit-transform: translateY(-24px);
                    transform: translateY(-24px);
                }

        .contact-form .label {
            position: absolute;
            left: 20px;
            bottom: 11px;
            font-size: 18px;
            line-height: 26px;
            font-weight: 400;
            color: #5543ca;
            cursor: text;
            transition: -webkit-transform .2s ease-in-out;
            transition: transform .2s ease-in-out;
            transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
        }

        .contact-form .submit-btn {
            display: inline-block;
            background-color: #000;
            background-image: linear-gradient(125deg,#a72879,#064497);
            color: #fff;
            text-transform: uppercase;
            letter-spacing: 2px;
            font-size: 16px;
            padding: 8px 16px;
            border: none;
            width: 200px;
            cursor: pointer;
        }
    </style>
</head>

<section class="get-in-touch">

    <h2 class="title">Update Panel Availability</h2>


    <form asp-action="UpdatePanelAvailability" class="contact-form row">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @*<div class="form-field col-lg-12">
            <label asp-for="Id" class="label"></label>
            <input asp-for="Id" class="input-text js-input" hidden />
        </div>*@
    <div class="form-field col-lg-12">
        <input asp-for="PanelId" class="input-text js-input" />

        <label asp-for="PanelId" class="label">Panel Name</label>
    </div>
        @*<div class="form-field col-lg-12">
            <label asp-for="Name" class="label"></label>
            <input asp-for="Name" class="input-text js-input" />
        </div>*@
    <div class="form-field col-lg-12">
        <input asp-for="AvailableDate" class="input-text js-input" />
        <label asp-for="AvailableDate" class="label">Available Date</label>

    </div>
    <div class="form-field col-lg-12">
        <input asp-for="AvailableTimeFrom" class="input-text js-input" />

        <label asp-for="AvailableTimeFrom" class="label">Available Time From</label>
    </div>
    <div class="form-field col-lg-12">
        <input asp-for="AvailableTimeTo" class="input-text js-input" />

        <label asp-for="AvailableTimeTo" class="label">Available Time To</label>
    </div>
        @*<div class="form-field col-lg-12">
            <label asp-for="CreatedAt" class="label"></label>
            <input asp-for="CreatedAt" class="input-text js-input" hidden />
        </div>
        <div class="form-field col-lg-12">
            <label asp-for="ModifiedAt" class="label"></label>
            <input asp-for="ModifiedAt" class="input-text js-input" hidden />
        </div>*@

        <div class="form-field col-lg-12">
            <input type="submit" value="Create" class="submit-btn" />
        </div>
    </form>


    <div class="form-field col-lg-12">
        <a asp-action="ViewPanelAvailability" class="btn btn-outline-dark">Back</a>
    </div>
</section>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
