@model CandidateAPI.InterviewSchedulerModel.Register

@{
    Layout = null;
}

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
    <link rel="stylesheet" href="~/css/Login.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

</head>

<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <img src="https://w7.pngwing.com/pngs/139/151/png-transparent-computer-icons-calendar-agenda-calendar-icon-miscellaneous-blue-text.png" style="width:50px; height:50px;" />

            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">INTERVIEW SCHEDULER</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                </ul>
                @*<p class="nav navbar-text">Hello, @User.Identity.Name!</p>*@
            </div>
        </div>
    </nav>
</header>

@*<h1>Login</h1>*@


<hr />
<div class="container">
    <br />

    <div class="formclass">
        <div class="wrapper">
            <div class="title"><span>Register form</span></div>
            <form asp-action="SaveUser" style="border: 2px solid #006953; border-radius: 0 0 10px 10px; " autocomplete="off">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="row">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    <input asp-for="Username" class="form-control" placeholder="Username" />
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>
                <br />
                <div class="row">
                    <i class="fas fa-lock"></i>
                    <input asp-for="Password" class="form-control" type="password" placeholder="Password" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <br />
                <div class="row">
                    <i class="fas fa-lock"></i>
                    <input asp-for="ConfirmPassword" class="form-control" type="password" placeholder="Confirm Password" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <br />
                <div class="row" style="margin-bottom: 0.7cm;">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    <select asp-for="RoleId" asp-items="ViewBag.Rolename">
                        <option value="">Select Role</option>
                        <option value="1">HR</option>
                        <option value="2">Recruitor</option>

                    </select>
                    <span asp-validation-for="RoleId" class="text-danger"></span>
                </div>
                <br />
                <div class="row button">
                    <input type="submit" value="Register" class="btn btn-info" />
                </div>
            </form>
        </div>
    </div>
</div>

@*<div>
        <a asp-controller="Login" asp-action="Login">Back to List</a>
    </div>*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
