@model CandidateAPI.InterviewSchedulerModel.Candidate

@{
    ViewData["Title"] = "AddCandidate";
}

<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="~/css/Create.css" />

</head>
<body>
    @*<section class="get-in-touch">*@

    <center>
        <div class="container" style="color:green">
            <h2 class="title">ADD CANDIDATE</h2>
        </div>
    </center>

    <br />

    <div class="container">

        <form class="form-horizontal" asp-action="AddCandidate">
            <div class="form-group has-success">
                <label class="control-label col-sm-2" asp-for="Name">Name:</label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="Name" type="text" placeholder="Name" required autocomplete="chrome-off" />
                    <span asp-validation-for="Name" class="text-danger"></span>

                </div>
            </div>

            <div class="form-group has-success">
                <label class="control-label col-sm-2" asp-for="Dob">DOB:</label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="Dob" placeholder="DOB" type="date" required autocomplete="chrome-off" />
                    <span asp-validation-for="Dob" class="text-danger"></span>

                </div>
            </div>

            <div class="form-group has-success">
                <label class="control-label col-sm-2" asp-for="Address">Address:</label>
                <div class="col-sm-8">

                    <input class="form-control" asp-for="Address" placeholder="Address" required autocomplete="chrome-off" />
                    <span asp-validation-for="Address" class="text-danger"></span>

                </div>
            </div>

            <div class="form-group has-success">
                <label class="control-label col-sm-2" asp-for="Mobileno">Mobile no:</label>
                <div class="col-sm-8">
                    <input asp-for="Mobileno" class="form-control" placeholder="Mobile Number" required autocomplete="chrome-off" />
                    <span asp-validation-for="Mobileno" class="text-danger"></span>

                </div>
            </div>

            <div class="form-group has-success" style="margin-bottom: 0.7cm;">
                <label class="control-label col-sm-2" asp-for="Qualification">Qualification:</label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="Qualification" placeholder="Qualification" required autocomplete="chrome-off" />
                    <span asp-validation-for="Qualification" class="text-danger"></span>

                </div>
            </div>

            <div class="form-group has-success" style="margin-bottom: 0.7cm;">
                <label class="control-label col-sm-2" asp-for="Email">Email:</label>
                <div class="col-sm-8">
                    <input asp-for="Email" class="form-control" placeholder="Email" required autocomplete="chrome-off" />
                    <span asp-validation-for="Email" class="text-danger"></span>

                </div>

            </div>

            <div class="form-group has-success">
                <label class="control-label col-sm-2" asp-for="JobId">Job Role:</label>
                <div class="col-sm-8" asp-for="JobId">

                    <div asp-for="JobId">
                        @Html.DropDownListFor(model => model.JobId, new SelectList(ViewBag.specializationJob, "Value", "Text"), "--- Select ---")
                        <span asp-validation-for="JobId" class="text-danger"></span>
                    </div>

                </div>
            </div>

            <div class="form-group has-success">
                <label class="control-label col-sm-2" asp-for="LevelId">Interview Level:</label>
                <div class="col-sm-8" asp-for="LevelId">
                    @Html.DropDownListFor(model => model.LevelId, new SelectList(ViewBag.specializationLevel, "Value", "Text"), "--- Select ---")
                    <span asp-validation-for="LevelId" class="text-danger"></span>
                </div>
            </div>
            <br />
            <div class="form-group has-success">
                <label class="control-label col-sm-2" asp-for="Status">Interview Status:</label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="Status" type="text" placeholder="Interview Status" required autocomplete="chrome-off" />
                    <span asp-validation-for="Status" class="text-danger"></span>

                </div>
            </div><br />
            <div class="form-group has-success">
                <label class="control-label col-sm-2" asp-for="Resume">Resume:</label>
                <div class="col-sm-8">

                    <input asp-for="Resume" type="file" />
                    <span asp-validation-for="Resume" class="text-danger"></span>

                </div>
            </div>
            <br />

            <center>
                <div class="row">

                    <div class="col-sm-6">
                        <div class="form-group has-success">
                            <input class="btn btn-success" type="submit" value="Submit" />
                        </div>
                    </div>


                    <div class="col-sm-6" >
                        <div class="form-group has-success">
                            <a asp-action="ViewCandidate" class="btn btn-dark" style="color:white">Back</a>
                        </div>
                    </div>


                </div>
            </center>

           <br />
            <br />

        </form>
    </div>

    @*</section>*@
</body>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
